################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ObjectOrientedProgramming.csproj

# ignore folder bin
bin/

.vs/

basic-oop/
